@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
    --color-primary: #07b4ff;
    --color-primary-dark: #0a8ec9;
    --color-primary-light: #f5f8fa;
    --white: #ffffff;
    --grey-light: #f7f7f7;
    --grey: #c9c9c9;
    --dark-grey: #868686;
    --semi-black: #333;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    letter-spacing: .5px;
    color: var(--semi-black);
}




/* Header start */
main {
    width: 100%;
    min-height: calc(100vh - 5rem);
}

header {
    width: 100%;
    height: 5rem;
    padding: .3rem 1rem;

    background-color: var(--color-primary-dark);
    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid var(--white);
}

header a {
    color: var(--white);
    height: min-content;
    padding: .5rem 1rem;
}

header a:hover {
    color: var(--grey);
}

.header-logo {
    height: 60%;
}

.img-link {
    height: 100%;
    display: flex;
    align-items: center;
}

.img-actions {
    height: 70%;
    padding-inline: .5rem;
}

header img {
    height: 100%;
}

.header-container {
    width: max-content;
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form > * {
    margin-inline: .5rem;
}

.search-form fieldset {
    height: 3rem;
    margin-bottom: .5rem;
}

.search-form legend {
    font-size: .9em;
}

.search-form input[type="text"] {
    letter-spacing: .5px;
    text-indent: 5px;
    font-size: 1em;
}

.search-form input[type="submit"].btn-white {
    font-size: 1em;
    padding: .3rem .7rem;
}
/* Header end */



/* Footer start */
footer {
    width: 100%;
    min-height: 3rem;

    background-color: var(--white);

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;

    text-align: center;
    line-height: 1.5em;

    border-top: 2px solid var(--color-primary);
}

footer > * {
    margin: 0 1rem;
}
/* Footer end */



/* General styles */
a {
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
    transition: color 0.1s ease-in-out;
}

a:hover {
    color: var(--color-primary-dark);
}





.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}



[class^="col-"] {
    display: flex;
    flex-direction: row;
}

.col-2 > .col-item { width: 50%; }



/* Buttons */
[class^="btn"] {
    padding: 0.5rem 1rem;
    border-radius: 2rem;
    border: 0;
    
    font-size: 1.1em;
    font-weight: 600;

    background-color: var(--color-primary);
    color: var(--white);

    cursor: pointer;
}

.btn-white {
    background-color: var(--white);
    color: var(--color-primary);
}




/* Forms */
fieldset {
    position: relative;

    border: 2px solid var(--color-primary);
    border-radius: 5px;

    height: 4em;
    padding-bottom: .4rem;
    padding-inline: .3rem;

    margin-bottom: 1rem;
    transition: border .1s ease-in-out;
}

fieldset.white {
    border-color: var(--white);
}

fieldset legend {
    margin-left: .6rem;
    padding: 0 .4rem;

    font-weight: 700;
    color: var(--color-primary);
}

fieldset.white legend {
    color: var(--white);
}


fieldset input {

    text-indent: 10px;
    letter-spacing: 1px;
    font-size: 1em;
    font-weight: 500;
    color: var(--semi-black);

    padding-inline: .3rem;

    width: 100%;
    height: 100%;

    border-radius: 3px;
    border: none;
    outline: none;

    background-color: var(--color-primary-light);
}


input[type="password"] {
    letter-spacing: 10px;
}


fieldset:not(.error) img.error { display: none; }

fieldset.error img.error { display: block; }

fieldset.error { border-color: red; }
fieldset.error legend { color: red; }

fieldset.error.white { border-color: #ff2b2b; }
fieldset.error.white legend { color: #ff2b2b; }


fieldset:has(input:focus) {
    border-width: 3px;
}



fieldset .error {
    position: absolute;

    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background-color: #fff;

    right: .8rem;
    top: .4rem;

    cursor: help;
    transition: padding .1s ease-in-out;
}

fieldset .error:hover {
    padding: .1rem;
}







.correct {
    margin-top: 2rem;
    text-indent: .5rem;

    color: green;
}

.correct::before {
    content: "✓ ";
}



.invisible {
    display: none;
}

.txt-header {
    width: 100%;
    margin-bottom: 1rem;
    padding-left: 1rem;

    text-align: left;
    font-size: 1.3em;
    font-weight: 600;
}


.silent-wrapper {
    margin-top: 2rem;
    margin-inline: auto;
    width: min(70%, 20rem);
    aspect-ratio: 1 / 1;

    background-color: #ccc;
    border-radius: 50%;

    position: relative;
}

.silent-wrapper img {
    width: 70%;
    height: 70%;
    object-fit: contain;

    position: absolute;
    bottom: -3%;
    left: -3%;
}

.silent-txt {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: .8em;
    color: #333;
    text-align: center;
    margin-top: 1rem;
}