@import url('../main.css');

.user-results {
    margin-top: 1rem;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
}

.user {
    max-width: 300px;
    min-height: 200px;

    border: 2px solid var(--color-primary);
    border-radius: .5rem;
}

.user__upper {
    background-color: var(--color-primary);
}

.user__upper img {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 50%;

    position: relative;
    bottom: -2.2rem;
    left: 1.2rem;

    background-color: #fff;
    padding: .25rem;
}


.user__lower {
    margin-top: 1.2rem;
    padding: 1rem;

    font-weight: 600;
    color: var(--semi-black);
}